body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

    .pgButtons {
        margin-top: 10px;
        margin-right: 5px;
        width: 50px;

        padding: 5px;
        padding-right: 55px;
    
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: white;
        background-color: blue;
        border-radius: 10px;
        border: none;
}

#reset {
    background-color: red;
}