body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


button {
    margin-top: 10px;


    padding: 5px;

    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: blue;
    border-radius: 10px;
    border: none;
}

img {
    width: 200px;
    margin-top: 20px;
}

#reset {
    background-color: red;
}